/**
 * Copyright 2025 Cisco Systems, Inc. and its affiliates
 * SPDX-License-Identifier: Apache-2.0
 */

 #cc-main {
   --cc-font-family: Inter, Sharp Sans, sans-serif;

   --cc-overlay-bg: #D1DBF666;
   --cc-bg: #FBFCFE;

   --cc-btn-primary-bg: #187ADC;
   --cc-btn-primary-border-color: none;
   --cc-btn-primary-hover-bg: #79B9FF;
   --cc-btn-primary-hover-border-color: none;

   --cc-btn-secondary-bg: none;
   --cc-btn-secondary-border-color: none;
   --cc-btn-secondary-hover-bg: none;
   --cc-btn-secondary-hover-border-color: none;

   --cc-btn-primary-bg: #187adc;

   /** Also make toggles the same color as the button **/
   --cc-toggle-on-bg: var(--cc-btn-primary-bg);

   --cc-btn-border-radius: 4px;

   .pm__title {
      font-family: Sharp Sans;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0px;
      color: #00142B;
   }

   .pm__section-title {
      font-family: Inter;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #3C4551;
   }

   .pm__btn {
      height: 32px;
      min-height: 32px;
      padding-right: 16px;
      padding-left: 16px;
      font-weight: 600;
   }

   .pm__btn--secondary {
      color: #187ADC;
   }

   .pm__btn-group {
      gap: 8px;
   }

   .section__toggle-wrapper {
      height: 20px;
   }

   .section__toggle {
      height: 20px;
   }

   .toggle__icon {
      height: 20px;
      margin: auto 0;
   }
   
   .toggle__icon-circle {
      height: 16px;
      width: 16px;
      margin-top: 2px;
      margin-left: 2px;
   }
}
