/**
 * Copyright 2025 Copyright AGNTCY Contributors (https://github.com/agntcy)
 * SPDX-License-Identifier: Apache-2.0
 */

.welcome-bg {
  background: conic-gradient(from 89.8deg at 13.54% 37.07%, #187ADC 0.04deg, #00162B 21.64deg, #187ADC 270deg, #D1DDDC 309.81deg, #FBAB2C 360deg, #187ADC 360.04deg);
}

.welcome-card {
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 48px;
  gap: 10px;
  background: #F5F8FDF2;
  border-radius: 28px;
}

.welcome-card-wrapper {
  border-radius: 36px;
  border-width: 8px;
  border: 8px solid #FFFFFF33;
}