/**
 * Copyright 2025 Cisco Systems, Inc. and its affiliates
 * SPDX-License-Identifier: Apache-2.0
 */

.welcome-bg {
  background: conic-gradient(from 89.8deg at 13.54% 37.07%, #187ADC 0.04deg, #00162B 21.64deg, #187ADC 270deg, #D1DDDC 309.81deg, #FBAB2C 360deg, #187ADC 360.04deg);
}

.welcome-card {
  padding-top: 24px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 48px;
  gap: 10px;
  background: #F5F8FDF2;
  border-radius: 28px;
}

.welcome-card-wrapper {
  border-radius: 36px;
  border-width: 8px;
  border: 8px solid #FFFFFF33;
}

.welcome-title {
  font-family: Sharp Sans;
  font-weight: 400;
  font-style: Book;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
  color: #FBAF45;
}

.welcome-product-name {
  font-family: Sharp Sans;
  font-weight: 700;
  font-style: Bold;
  line-height: 56.97px;
  letter-spacing: 0px;
  color: #FBFCFE;
}

.welcome-main-card {
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #0D274D;
  opacity: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 24px;
  border-radius: 16px;
}