package app_grpc_register

import (
	"context"

	"github.com/grpc-ecosystem/grpc-gateway/v2/runtime"
	"google.golang.org/grpc"
)

type GrpcServiceRegister struct {
{{ range $platform := .Services }}
    {{ $platform.ServerName }} {{ $platform.ServerType }}
{{ end }}
}

func (r GrpcServiceRegister) RegisterGrpcHandlers(grpcServer *grpc.Server) {
{{ range $platform := .Services }}
    if r.{{ $platform.ServerName }} != nil {
		{{ $platform.RegisterGrpcServerFunc }}(grpcServer, r.{{ $platform.ServerName }})
	}
{{ end }}
}

func (r GrpcServiceRegister) RegisterHttpHandlers(ctx context.Context, mux *runtime.ServeMux, conn *grpc.ClientConn) error {
{{ range $platform := .Services }}
	{{ if ne $platform.RegisterHttpHandlerFunc "" }}
    if r.{{ $platform.ServerName }} != nil {
        err := {{ $platform.RegisterHttpHandlerFunc }}(ctx, mux, conn)
		if err != nil {
			return err
		}
	}
	{{ end }}
{{ end }}

	return nil
}
