/**
 * Copyright 2025 Copyright AGNTCY Contributors (https://github.com/agntcy)
 * SPDX-License-Identifier: Apache-2.0
 */

@import "tailwindcss";
@plugin "tailwindcss-animate";

/* :root {
  font-family: Inter, Sharp Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #EFF3FC;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.5rem;
  font-synthesis: none;

  --background: #EFF3FC;
  --foreground: #EFF3FC;

  --side-nav-background: #EFF3FC;
  --side-nav-hover: #E8F1FF;
  --side-nav-selected: #E8F1FF;
  --side-nav-selected-hover: #E8F1FF;

  --card: #004A8C;
  --card-foreground: #00142B;

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #187ADC;
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: #E8F1FF;
  --muted-foreground: #3C4551;

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --success: oklch(0.723 0.219 149.579);
  --destructive: oklch(0.637 0.237 25.331);
  --border: oklch(0.922 0 0);
  --input: #FBFCFE;
  --ring: #D5DFF7;
} */

/* @theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
 
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-success: var(--success);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  
  --color-side-nav-background: var(--side-nav-background);
  --color-side-nav-hover: var(--side-nav-hover);
  --color-side-nav-selected: var(--side-nav-selected);
  --color-side-nav-selected-hover: var(--side-nav-selected-hover);
} */

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* .card-group {
  align-items: stretch;
  display: flex;
  flex: 0 1 auto;
  flex-flow: wrap;
  gap: 12px;
  justify-content: flex-start;
}

.card-flex-group {
  flex: 1 1 20%;
  max-width: unset;
}

.card-style {
  box-shadow: 0px 4px 4px 0px #C8D5F554;
}

.custom-border {
  border-width: 2px;
  border-style: solid;
  border-bottom-color: #FBAB2C;
  border-right-color: #FBAB2C;
}

.menu-item {
  font-family: Inter;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #3C4551;
}

.menu-label {
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #777D85;
}

.form-label {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #3C4551;
} 

.button-link {
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  color: #187ADC;
}

.code-block {
  background-color: #FBFCFE;
  padding: 16px;
  border: 1px solid #D5DFF7;
  border-radius: 8px;
}

.text-code {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #00142B
}

.copy-button {
  border: 1px solid #D5DFF7;
}

.scrollable-shadow-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  top: 0;
  left: 0;
  z-index: 40;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.075));
  transform: rotate(180deg);
  opacity: 1;
  animation: fadeIn 0.4s ease-in;
}

.scrollable-shadow-bottom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.075));
  animation: fadeIn 0.4s ease-in;
}

.scrollable-shadow-left::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0));
  animation: fadeIn 0.4s ease-in;
}

.scrollable-shadow-right::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.075));
  animation: fadeIn 0.4s ease-in;
}

.scroll-container {
  height: calc(100vh - 97px);
}

.inline-link {
  font-family: Inter;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0%;
  color: #187ADC;
  cursor: pointer;
}

.inline-link:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */


.striped-bar {
  width: 100%;
  height: 26px;
  background-color: #187ADC;
  background-image: linear-gradient(-45deg, #00142B 25%, transparent 25%, transparent 50%, #00142B 50%, #00142B 75%, transparent 75%, transparent);
  background-size: 30px 30px;
}
