# Copyright 2025 AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: Build and Push Docker Images

on:
  workflow_call:
    inputs:
      bake-targets:
        required: true
        type: string
        description: "Bake target"
      bake-file:
        required: false
        type: string
        description: "Bake file"
        default: "./deployments/docker/docker-bake.hcl"
      image-tag:
        required: true
        type: string
        description: "Image tag to use."
      image-repo:
        required: false
        type: string
        description: "Image repo to use."
    secrets:
      github-token:
        description: "Github token"
        required: false

jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.2.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.github-token}}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Setup Buildx env
        run: echo "BUILDX_BAKE_ENTITLEMENTS_FS=0" >> "$GITHUB_ENV"

      - name: Docker metadata
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          tags: |
            type=raw,value=${{ inputs.image-tag }}
            type=raw,value=latest,enable=${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}

      - name: Build and push
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        with:
          files: |
            ${{ inputs.bake-file }}
            cwd://${{ steps.metadata.outputs.bake-file }}
          targets: ${{ inputs.bake-targets }}
          push: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags') }}
        env:
          IMAGE_REPO: ${{ inputs.image-repo }}
