# Copyright 2025 AGNTCY Contributors (https://github.com/agntcy)
# SPDX-License-Identifier: Apache-2.0

---
name: Reusable Helm Chart Release

on:
  workflow_call:
    inputs:
      charts-dir:
        description: "Path to the Helm charts directory"
        required: true
        type: string
      gh-pages-branch:
        description: "Branch to publish Helm charts (e.g., gh-pages)"
        required: true
        type: string
    secrets:
      github-token:
        description: "Github token"
        required: false

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true
          token: ${{ secrets.github-token }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 #v4.3.1
        with:
          version: v3.12.0

      - name: Cache Helm dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 #v5.0.3
        with:
          path: ~/.cache/helm
          key: ${{ runner.os }}-helm

      - name: Add Helm repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add hashicorp https://helm.releases.hashicorp.com
          helm repo update

      - name: Update Helm dependencies
        run: |
          for chart in ${{ inputs.charts-dir }}/*; do
            if [ -d "$chart" ]; then
              echo "Updating dependencies for $chart"
              helm dependency update "$chart"
            fi
          done

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f #v1.7.0
        env:
          CR_TOKEN: ${{ secrets.github-token }}
        with:
          charts_dir: ${{ inputs.charts-dir }}
          packages_with_index: true
          pages_branch: ${{ inputs.gh-pages-branch }}
          skip_existing: false
